/* loading screen */
#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: url(../Images/Loader.gif) center no-repeat #fff;
    background-size: 24%;
}

nav {
    visibility: hidden;
}
.loaded .loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded nav {
    visibility: visible;
}

/* loading screen */