.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../Images/preloader.gif) center no-repeat #fff;
}

.heading{
    padding-top: 0.5%;
}
.logo{

    padding-left: 1.3%;
}
.logo img{
    height: 45px;
    width: 400px;
}
.call{
    
    padding-right: 7%;
}
.call img{
    height: 40px;
    width: 68px;
}
.call a{
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
   
}
.navbar{
    margin-top: 10px;
    height: 60px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    background-color: aliceblue;
    
}
.collapse{
    padding-left:2.3%; 
}
.nav-item{
    margin-left: 20px;
}
.cover{
    background-position: 100% 82%;
    background-size: cover;
    
}

.content{
    height: 560px;
    width:100%;
}

