/*********************
    HTML
***********************/
 
body{
    overflow-x: hidden;
} 
body{
    font-family: "Montserrat",sans-serif;
    
}
/*********************
    Heading
***********************/

.heading{
    padding-top: 0.5%;
}
.logo{
     padding-left: 1.3%;
}
.logo img{
    height: 45px;
    width: 400px;
}
.call{
    padding-right: 7%;
}
.call img{
    height: 40px;
    width: 68px;
}
.call a{
    font-size: 16px;
}
.m-head,.m-head a{
    display: none;
}
/*********************
    Navigation
***********************/

/* Main Navigation*/
nav{
    margin-top: 10px;
}
nav img{
    height: 0px;
    width: 0px;
    visibility: hidden;
}
.mobile-nav,.sidenav{
    display: none;
}
.main-nav{
    float: left;
    list-style: none;
    margin-top: 12px;
}
.main-nav li{
    display: inline-block;
    margin-left:40px;   
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid orange;
}

nav{
    padding: 0px 0;
    background-color: aliceblue;
}

.nav-icon{
    float: left;
    cursor: pointer;
}


/* .navbar{
    margin-top: 10px;
    height: 60px;
    font-size: 16px;
    background-color: aliceblue;
    
}
.collapse{
    padding-left:2.3%; 
}
.nav-item{
    margin-left: 20px;
} */

/*********************
    Cover Page
***********************/
.cover{
    background-position: 100% 82%;
    background-size: cover;
}
.content{
    height: 560px;
    width:100%;
    font-size:0;
    line-height: 0;
    
    display: block;
}
.content div{
    display: block;
}
.box1{
    padding-left: 10%;
    padding-top: 4%;
    z-index: 0;
}
.box2{
    padding-left: 15%;
}
#blue{
    vertical-align: top; 
}
#white{
    vertical-align: top;
}

/*********************
    Mid-page
***********************/
.para1{
    background-color: floralwhite;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(91%, white), color-stop(85%, #e60202),color-stop(94%, #e60202), color-stop(94%, rgb(25, 0, 117)));
    background: linear-gradient(180deg, white 91%, #e60202 85%,#e60202 94%, rgb(25, 0, 117) 94%);
}
#para{
    padding-top: 70px;
    padding-left: 9%;
}
#para h1{
    font-size: 32px;
    
}
#para p{
    padding-top: 15px;
    font-size: 16px;
}
.truck{
    padding-top: 8%;
   /* padding-right: 10%; */
}
.truck img{
    height: 320px;
    width: 525px;
    border-radius:20px 20px 0 0;
    margin-left: 20%;
}

/*********************
    Icons
***********************/
.adv{
    text-align: center;
    padding-top: 3%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, white), color-stop(90%, #e60202),color-stop(96%, #e60202), color-stop(94%, rgb(25, 0, 117)));
    background: linear-gradient(180deg, white 94%, #e60202 90%,#e60202 96%, rgb(25, 0, 117) 94%);
}
.tag h1{
    padding-bottom: 5px;
    font-weight: bold;
}
.tag p{
    padding: 0 30px;
    padding-top: 5px;
    
}
.tag hr{
    width: 100px;
    color: blue;
    border-top: 10px solid rgb(25, 0, 117);
    border-radius:20px 20px 20px 20px;
}
.ico{
    padding-top: 30px;
    padding-bottom: 85px;
}
#ico1{
    padding-left: 120px;
}
#ico3{
    padding-right: 120px;
}
.ico h3{
    padding-top: 16px;
    font-size: 25px;
}
.ico p{
    padding-top: 10px;
    
}

/*********************
    Clients
***********************/
.client h1{
    margin-top: 30px;
}
#rel{
    height:160px;
    width: 160px;
}
#baj{
    height: 50px;
    width: 190px;
    /* margin-top: 50px; */
}
#amu{
    height: 85px;
    width: 150px;
    margin-top: 45px;
}
#god{
    height: 65px;
    width: 150px;
    /* margin-left: 250px; */
}
#par{
    height: 85px;
    width: 165px;
    /* margin-right: 250px;
    margin-bottom: 50px; */
}
#nir{
    height: 65px;
    width: 165px;
}
#ess{
    height: 85px;
    width: 165px;
}
#lnt{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

/*********************
    Contact
***********************/
.contact{
    padding: 60px 0;
    background-color: whitesmoke;
}
.fas{
    margin-top: 6px;
}
/*********************
    About Us Page
***********************/
.about-main{
    text-align: center;
    padding-top: 3%;
}
.about-main p{
    padding-top: 10px;
    font-size: 19px;
}
.vis{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.7))),url(../Images/Vision.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../Images/Vision.jpg);
}
.mis{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.7))),url(../Images/Mission1.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../Images/Mission1.jpg);
}

.mis,.vis{
   background-position: center center;
   background-attachment: fixed;
   color: white;
}

.vis div,.mis div{
    height: 560px;
    width:100%;
    display: block;
    padding-top: 80px;
}
/*********************
    Animation
***********************/

.js--box1,.js--box2,.js--contact,
.js--para,.js--tag,.js--partners,.js--web-nav{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.js--box1.animated,.js--box2.animated,.js--contact.animated,
.js--para.animated,.js--tag.animated,.js--partners.animated
{
    opacity: 1;

}
#js--ico1,#js--ico2,#js--ico3{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}
#js--ico1.animated,#js--ico2.animated,#js--ico3.animated{
    opacity: 1;
}

.js--web-nav.animated{
    opacity: 1;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    display: block;
}