.heading{
    padding-top: 0.5%;
}
.logo{

    padding-left: 1.3%;
}
.logo img{
    height: 45px;
    width: 400px;
}
.call{
    padding-right: 7%;
}
.call img{
    height: 40px;
    width: 68px;
}
.call a{
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
   
}
.navbar{
    margin-top: 10px;
    height: 60px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    background-color: aliceblue;
    
}
.collapse{
    padding-left:2.3%; 
}
.nav-item{
    margin-left: 20px;
}
.cover{
    background-position: 100% 82%;
    background-size: cover;
    
}
.content{
    height: 560px;
    width:100%;
    font-size:0;
    line-height: 0;
    vertical-align: middle;
    display: block;
  
    
}
.content div{
    display: block;
    vertical-align: top;

}
.box1{
    padding-left: 10%;
    padding-top: 4%;
}
.box2{
    padding-left: 15%;
}
#blue{
    
    vertical-align: top 
   
}
#white{

    vertical-align: top;
    
}
.para1{
   
   background-color: floralwhite;
    background: linear-gradient(180deg, floralwhite 91%, #110072 85%, #110072 94%, rgb(180, 180, 180) 94%);
}
.truck{
    padding-top: 12%;
    padding-left: 12%;
    padding-right: 0%;
    
}
.truck img{
    height: 325px;
    width: 550px;
    border-radius:20px 20px 0 0;
}
#para{
    padding-top: 8%;
    padding-left: 9%;
    font-family: "Montserrat";
}

