.heading{
    padding-top: 0.5%;
}
.logo{

    padding-left: 1.3%;
}
.logo img{
    height: 45px;
    width: 400px;
}
.call{
    
    padding-right: 7%;
}
.call img{
    height: 40px;
    width: 68px;
}
.call a{
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
   
}
.navbar{
    margin-top: 10px;
    height: 60px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    
}
.collapse{
    padding-left:2.3%; 
}
.nav-item{
    margin-left: 20px;
}
.cover{
    width: 100%;
    height: 500px;
    background-image: url('./Images/Truck.jpg');
    background-size:100% 100%;
}
