body {
  background-color: #f2f4f6;
}
.heading {
  background-color: white;
}
/* Desktop Section Code */
.desktop-form form {
  width: 30%;
  margin: 5rem;
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 1rem 0;
}

.mobile-section {
  display: none;
}
.lead-form .form-header {
  margin: 20rem;
}
.lead-form #heading-1 {
  font-size: 1.5rem;
}
.lead-form #heading-2 {
  font-size: 1rem;
}

.lead-form form input,
.lead-form form select {
  height: 2.5rem;
  width: 91%;
  outline: none;
  border: thin solid black;
  padding: 10px 10px 10px 28px;
  border-radius: 5px;
  margin: 10px 7px;
  box-sizing: border-box;
  transition: 0.3s;
}
/* .lead-form form input {
  padding-left: 25px;
} */
input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 5%;
  top: 6px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

.lead-form form button {
  width: 80%;
  height: 3em;
  border-radius: 0.25em;
}

.getPrice {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}

.lead-form form .callUs {
  width: 80%;
  height: 3em;
  border-radius: 0.25em;
  background-color: green;
  border: green;
}

.lead-form form .vehicleType {
  display: none;
  transition: 0s;
}

.two-lines #line1 {
  border: 0.6rem solid #e60202;
  background-color: #e60202;
}
.two-lines #line2 {
  border: 1rem solid rgb(25, 0, 117);
  background-color: rgb(25, 0, 117);
}

#ico1 img,
#ico2 img,
#ico3 img {
  width: 50%;
}
.desktop-client {
  margin: 5% auto;
}

.desktop-vehicles-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.vehicle-img {
  height: 17rem;
  width: 17rem;
  background-size: 100%;
  margin: 10px;
}

.desktop-faq-section {
  margin: auto 20%;
}

.desktop-faq-section .qna h2 {
  margin-top: 3%;
  font-size: 1.2rem;
  font-weight: bold;
}

.desktop-reviews-section .scroll-section {
  display: flex;
}

.desktop-reviews-section .scroll-section .client-section {
  background-color: white;
  margin: 1.5%;
  padding: 1%;
}

.desktop-reviews-section .scroll-section .client-section .client-img {
  height: 20%;
  width: 30%;
}
#lakshmi {
  margin: 4% 0 0 5%;
}
#akash {
  margin: 3% 0 0 5%;
}
#auro {
  margin: 0 0 0 5%;
}
.desktop-reviews-section .client-star {
  margin-left: 5%;
}
.desktop-reviews-section .scroll-section .client-section h3 {
  font-size: 1.4rem;
}
.desktop-reviews-section .client-section p {
  margin-top: 2%;
}
