body {
  background-color: #f2f4f6;
}
.heading {
  background-color: white;
}
.lead-form .form-header {
  margin: 20rem;
}
.lead-form #heading-1 {
  font-size: 1.5rem;
}
.lead-form #heading-2 {
  font-size: 1rem;
}

.lead-form form input,
.lead-form form select {
  height: 2.5rem;
  width: 91%;
  outline: none;
  border: thin solid black;
  padding: 10px 10px 10px 28px;
  border-radius: 5px;
  margin: 10px 7px;
  box-sizing: border-box;
  transition: 0.3s;
}
/* .lead-form form input {
  padding-left: 25px;
} */
input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 5%;
  top: 6px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

.lead-form form button {
  width: 80%;
  height: 3em;
  border-radius: 0.25em;
}

.getPrice {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}

.lead-form form .callUs {
  width: 80%;
  height: 3em;
  border-radius: 0.25em;
  background-color: green;
  border: green;
}

.lead-form form .vehicleType {
  display: none;
  transition: 0s;
}

.two-lines #line1 {
  border: 0.6rem solid #e60202;
  background-color: #e60202;
}
.two-lines #line2 {
  border: 1rem solid rgb(25, 0, 117);
  background-color: rgb(25, 0, 117);
}

.movingPhoto img {
  width: 100%;
}

/* Brand Icons Padding */
#rel {
  margin-top: 0px;
}
#baj {
  margin-top: 20px;
}
#amu {
  margin-top: 15px;
}

/* Scroll Vehicles */
.scrollVehicleTypes {
  margin: 2rem 0;
}

.scrollVehicleTypes h1 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.scrolling-wrapper,
.scroll-section {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 2rem;
}

.vehicle-card,
.client-section {
  display: inline-block;
}
.vehicle-img {
  height: 13rem;
  width: 13rem;
  background-size: 100%;
  margin: 10px;
}

.scrolling-wrapper,
.scroll-section {
  -webkit-overflow-scrolling: touch;
}

.show-flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
  height: 90px;
  width: 90px;
  background-position: 100% 82%;
  background-size: cover;
}

.specs-section {
  margin: 10% 0;
  text-align: center;
}

#js--ico1,
#js--ico2,
#js--ico3 {
  height: 45%;
  width: 45%;
}
.ico {
  padding: 0 15px;
}
.ico .col h3 {
  font-weight: 700;
}
.ico .col,
.ico .col h3 {
  margin-top: 10%;
  padding-top: 0;
}

.qna {
  margin: 10%;
}

.qna h2 {
  font-size: 1rem;
  font-weight: bold;
}

.scroll-section .client-section {
  white-space: normal;
  margin: 10px;
  background-color: white;
  width: 80%;
}
.scroll-section .client-section .client-img {
  height: 30%;
  width: 30%;
}
.scroll-section .client-section .row {
  margin: 5%;
  overflow-wrap: break-word;
}
.client-star h3 {
  font-size: 1rem;
  margin: 10% 0 0 0;
}
